.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1024px;
	height:1366px;
	position:absolute;
}.e1_4 { 
	background-color:rgba(218.27995598316193, 255, 140.25000303983688, 1);
	width:448px;
	height:321px;
	position:absolute;
	left:568px;
	top:64px;
}.e1_5 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:448px;
	height:277px;
	position:absolute;
	left:576px;
	top:427px;
}.e1_6 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:448px;
	height:209px;
	position:absolute;
	left:568px;
	top:776px;
}.e1_7 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:448px;
	height:153px;
	position:absolute;
	left:568px;
	top:1054px;
}.e1_8 { 
	color:rgba(0, 0, 0, 1);
	width:395px;
	height:228px;
	position:absolute;
	left:600px;
	top:523px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_9 { 
	color:rgba(0, 0, 0, 1);
	width:261px;
	height:87px;
	position:absolute;
	left:725px;
	top:829px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_10 { 
	color:rgba(0, 0, 0, 1);
	width:406px;
	height:97px;
	position:absolute;
	left:580px;
	top:1117px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_11 { 
	background-color:rgba(232.0925036072731, 255, 231.62500709295273, 1);
	width:537px;
	height:1363px;
	position:absolute;
	left:0px;
	top:3px;
}.e1_12 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:504px;
	height:114px;
	position:absolute;
	left:14px;
	top:433px;
}.e1_13 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:504px;
	height:105px;
	position:absolute;
	left:16px;
	top:296px;
}.e1_14 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:502px;
	height:209px;
	position:absolute;
	left:16px;
	top:580px;
}.e1_15 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:502px;
	height:209px;
	position:absolute;
	left:16px;
	top:836px;
}.e1_16 { 
	background-color:rgba(218.00000220537186, 255, 140.00000685453415, 1);
	width:502px;
	height:211px;
	position:absolute;
	left:16px;
	top:1102px;
}.e1_17 { 
	color:rgba(0, 0, 0, 1);
	width:470px;
	height:61px;
	position:absolute;
	left:30px;
	top:335px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_18 { 
	color:rgba(0, 0, 0, 1);
	width:461px;
	height:64px;
	position:absolute;
	left:187px;
	top:475px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_19 { 
	color:rgba(0, 0, 0, 1);
	width:464px;
	height:182px;
	position:absolute;
	left:30px;
	top:656px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_20 { 
	color:rgba(0, 0, 0, 1);
	width:471px;
	height:185px;
	position:absolute;
	left:29px;
	top:916px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_21 { 
	color:rgba(0, 0, 0, 1);
	width:461px;
	height:185px;
	position:absolute;
	left:29px;
	top:1165px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_22 { 
	color:rgba(0, 0, 0, 1);
	width:414px;
	height:273px;
	position:absolute;
	left:580px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_23 { 
	width:222px;
	height:249px;
	position:absolute;
	left:51px;
	top:31px;
	background-image:url(images/___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_24 { 
	color:rgba(0, 0, 0, 1);
	width:420px;
	height:36px;
	position:absolute;
	left:51px;
	top:299px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_25 { 
	color:rgba(0, 0, 0, 1);
	width:385px;
	height:43px;
	position:absolute;
	left:86px;
	top:440px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_26 { 
	color:rgba(0, 0, 0, 1);
	width:359px;
	height:43px;
	position:absolute;
	left:627px;
	top:452px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_27 { 
	color:rgba(0, 0, 0, 1);
	width:364px;
	height:63px;
	position:absolute;
	left:589px;
	top:80px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_28 { 
	color:rgba(0, 0, 0, 1);
	width:355px;
	height:35px;
	position:absolute;
	left:653px;
	top:789px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_29 { 
	color:rgba(0, 0, 0, 1);
	width:384px;
	height:58px;
	position:absolute;
	left:610px;
	top:1072px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_30 { 
	color:rgba(0, 0, 0, 1);
	width:453px;
	height:48px;
	position:absolute;
	left:20px;
	top:1117px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_31 { 
	color:rgba(0, 0, 0, 1);
	width:454px;
	height:55px;
	position:absolute;
	left:46px;
	top:854px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_32 { 
	color:rgba(0, 0, 0, 1);
	width:410px;
	height:55px;
	position:absolute;
	left:61px;
	top:588px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_33 { 
	width:87px;
	height:77px;
	position:absolute;
	left:46px;
	top:440px;
	background-image:url(images/open_book_2702134_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_34 { 
	width:136px;
	height:109px;
	position:absolute;
	left:576px;
	top:789px;
	background-image:url(images/goal_3891260_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_35 { 
	width:95px;
	height:86px;
	position:absolute;
	left:405px;
	top:950px;
	background-image:url(images/free_icon_suitcase_2910791_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_36 { 
	width:121px;
	height:101px;
	position:absolute;
	left:392px;
	top:1210px;
	background-image:url(images/i_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_37 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:114px;
	position:absolute;
	left:329px;
	top:132px;
	font-family:Abhaya Libre SemiBold;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}